body{
    background-image : linear-gradient(125deg, #0400ffc0, #f34d2f);
    background-attachment: fixed;
    color: #e08f8f;
    font-family: Consolas, 'Courier New', monospace;
}
.navbark{
    background-color: #6100003f;
    margin: 0;
}
.navbark *{
    color: #f34c2fce;
}
.hamber {
    background-color: #ffffff00;
    border: 5px solid #000;
    color: #fff;
}
/* .navbar-toggler-icon{

} */
.dropdown-menu{
    background-color: #ffffff41;
    margin-top: 8px;
}.vh{
    height: 100vh;
    margin-top: 20vh;
}
.login{
    padding: 30px;
    background-color: #0000002f;
    border: 2px #3b38ff38 double;
    height: min-content;
}
.Inputbox{
    background-color: #ffffff3d;
    border: 0;
}
.Inputbox:focus{
    background-color: #ffffff70;
}
.logn{
    display: flex;
    margin: auto;
}
.footer{
    background-color: #2e1a1a59;
}
.footer *{
    color: #0f0000;
}
.footer a{
    color: #1b0e0e !important;
    font-style: italic;
    font-variant: small-caps;
    transition-duration: 0.6s;
}
a:hover{
    text-decoration: none;
    color: #fff !important;
}